@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');
@import url("../css/panels.css");

body {
    display: flex;
    flex-direction: column;

    >main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        align-items: stretch;
        justify-content: center;

        >.card-container {
            display: flex;
            flex-direction: column;

            justify-content: center;
            flex-wrap: wrap;

            gap: 10px;

            >.card {
                background-color: #444;
                border-radius: 10px;
                overflow: hidden;

                display: flex;
                flex-direction: column;

                justify-content: space-between;

                padding: 10px;
                gap: 10px;

                .header {
                    .name {
                        font-size: 2rem;
                        font-weight: 700;
                    }

                    .bio {
                        font-size: 14px;
                        font-style: italic;
                    }
                }

                .links {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                }
            }
        }
    }
}